<!DOCTYPE html>
<html>
<head>
    <title>Dados da API</title>
</head>
<body>
    <h1>Dados da API</h1>
    <p><strong>Código do Microcontrolador:</strong> {{ last_item.microcontroller_code }}</p>
    <p><strong>Temperatura Interna:</strong> {{ last_item.temperature_int }}</p>
    <p><strong>Umidade Interna:</strong> {{ last_item.humidity_int }}</p>
    <p><strong>Temperatura Externa:</strong> {{ last_item.temperature_ext }}</p>
    <p><strong>Umidade Externa:</strong> {{ last_item.humidity_ext }}</p>
    <p><strong>Criado em</strong> {{ last_item.created_at }}</p>
</body>
</html>
